<%- include("partials/header.ejs") %>

<div class="container">
    <div class="header">
        <h1>Fat Burner</h1>
        <!-- Drop Down Widget -->
         <!-- Change this so that only one page is generated and the user data does not change
          the URL -->
        <div class="dropdown">
            <select id="userSelect" name="userId" onchange="navigateToUserPage()" required>
                <option value="" disabled selected>Choose User</option>
                <% userData.forEach(user => { %>
                    <option value="/loggedinpage?userId=<%= user.id %>"><%= user.username %></option>
                <% }) %>
            </select>
        </div>
    </div>
    <div class="button">
        <a href= "/register"> Register </a>
    </div>
    <br><br><br>
    <% if (locals.confirmRegistration) { %>
        <h2><%= confirmRegistration %></h2>
    <% } %>
    <a href = "https://www.facebook.com/juranekstepan/">
        <img src="images/schema_black.png">
</div>

<script>
    // Function to reset the dropdown on page load or back navigation
    window.addEventListener("pageshow", function () {
        const selectElement = document.getElementById("userSelect");
        selectElement.selectedIndex = 0; // Reset to the first option ("Choose User")
    });

    // Function to handle dropdown navigation
    function navigateToUserPage() {
        const selectElement = document.getElementById("userSelect");
        const selectedValue = selectElement.value;

        if (selectedValue) {
            window.location.href = selectedValue; // Redirect to the selected user's page
        }
    }
</script>

<%- include("partials/footer.ejs") %>